.store_products_image {
    order: 2;
    float: left;
    background: #f7f8fb;
    border: 3px solid #dfe3ed;
    display: flex;
    width: 120px;
    height: 120px;
    position: relative;
    justify-content: center;
}
.store_products_image > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    position: absolute;
}
.store_products_image:hover {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.store_products_info {
    order: 3;
    font-family: Open Sans, Arial, Helvetica, sans-serif, Heiti;
    display: inline-block;
    vertical-align: top;

    margin: 10px;
    width: 120px;
    text-align: center;
}
.store_products_info p {
    display: none;
}
.store_products_info h6 {
    color: #f9423a;
}
.store_products_info a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
    white-space: normal;
    font-size: 16px;
    line-height: 18px;
}
.store_products_info a:hover {
    color: #ff4747;
    text-decoration: underline;
}

.store_prducts_list {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: auto;
    padding: 50px 0 0 0;
    box-sizing: border-box;
    width: 80%;
}

.store_prducts_list li {
    padding: 16px 16px 16px;
    display: table;
    width: 120px;

    border-bottom: 1px solid #e8e8e8;
}

#product {
    display: flex;
    flex-flow: column;
}
